@{
    Layout = "_Layout";
}
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Siapa Kita?</h3>
                        <h2>Kami dari kelompok 4 membuat sistem cuti berbasis web dengan menggunakan Framework ASP .Net Core</h2>
                        <p>
                            Pembuatan sistem ini bertujuan untuk memberikan kemudahan dalam pengajuan cuti yang dilakukan karyawan dan manager dapat dengan mudah untuk approve atau refuse request yang ada.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-4 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/img/team/ghifari.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://instagram.com/ghifari_80" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/ghifari-aulia-rutfi-6a122b245" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Ghifari Aulia Rutfi</h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>

                <div class="col-4 align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/img/team/indra.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://www.instagram.com/indrwnhp" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/indrawanheriprabowo/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Indrawan Heri Prabowo</h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>

                <div class="col-4 align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/img/team/satria.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href="https://www.facebook.com/satria.n.rezpector/" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/satriaappr_/" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/satria-primatama-52586b1a9/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Satria Primatama</h4>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</main>
