@{
    Layout = "_UserLayout";
    ViewBag.Title = "Dashboard Manager";
}

@section navbar{

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="ManageTimeOff">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Manage Time Off </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> List Employee Approve </span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
}






@section scripts{
    <script>
        console.log("Test")
    </script>
}