@{
    Layout = "_LayoutAuth";
}

<style>
    .error {
        font-size: 14px;
        color: red;
    }
</style>

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body" style="height:400px;">

                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                        <img src="~/1.svg" width="100%;" class="m-auto p-4" />
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Form Login</h1>
                            </div>
                            <form role="form" class="needs-validation" id="formLogin" novalidate>
                                <div class="input-material-group mb-3">
                                    <input type="email" class="form-control email" id="Email" name="Email" placeholder="Email" required>
                                    <div id="group_email"></div>
                                </div>
                                <div class="input-material-group mb-4">
                                    <input type="password" class="form-control password" id="Password" name="Password" placeholder="Password" required>
                                    @*<div class="invalid-feedback">
                                    Please provide a valid password.
                                    </div>*@
                                    <div id="group_password"></div>
                                </div>
                                <button type="submit" id="btn_login" class="btn btn-primary btn-block">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#formLogin').validate({
                rules: {
                    Email: {
                        required: true,
                        email: true,
                    },
                    Password: {
                        required: true
                    }
                },
                messages: {
                    Email: {
                        required: "Email cannot be empty.",
                        email: "Please provide a valid email."
                    },
                    Password: "Please provide a valid password."
                },
                submitHandler: () => {
                    Login();
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback mt-2");
                    error.appendTo(element.parent());
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-invalid").removeClass("is-valid");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-valid").removeClass("is-invalid");
                }
            });
        })

        const Login = () => {

            var login = {
                Email: $('#Email').val(),
                Password: $('#Password').val()
            }

            $.ajax({
                type: "POST",
                url: "https://localhost:7090/api/Accounts/Login",
                contentType: "application/json",
                data: JSON.stringify(login),
                success: (result) => {
                    if (result.message == "Wrong Password") {
                        console.log("salah password")

                        const password = document.querySelector(".password");
                        password.classList.remove("is-valid");
                        password.classList.add("is-invalid");

                        const label = document.querySelector("#group_password");
                        label.textContent = "Wrong Password";
                        label.classList.add("invalid-feedback");
                    } else if (result.message == "Account Not Found") {
                        console.log("tidak ada account")

                        const email = document.querySelector(".email");
                        email.classList.remove("is-valid");
                        email.classList.add("is-invalid");

                        const password = document.querySelector(".password");
                        password.classList.remove("is-valid");
                        password.classList.add("is-invalid");

                        const labelEmail = document.querySelector("#group_email");
                        labelEmail.textContent = "Account not found.";
                        labelEmail.classList.add("invalid-feedback");

                        const labelPassword = document.querySelector("#group_password");
                        labelPassword.textContent = "";
                        labelPassword.classList.add("invalid-feedback");
                    } else {
                        console.log("Masuk")
                        console.log(login);
                        $.ajax({
                            type: "POST",
                            url: "../Authentication/Auth",
                            data: login,
                            beforeSend: () => {
                                Swal.fire({
                                    title: 'Please wait...',
                                    showConfirmButton: false,
                                    backdrop: `rgba(0,0,0,0.6)`
                                })
                            },
                        }).done((result) => {
                            console.log(result)
                            window.location.href = result
                        }).fail((error) => {
                            console.log(error)
                            location.reload()
                        });
                    }
                }
            })
        }
    </script>
}