html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*#head {
   //untuk navbar color
}*/

*, ::after {
    box-sizing: border-box;
    font-size: 15px;
    
}

.container, row {
    text-align: left;
}

row, .col#a {
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin-bottom: 60px;
}

img {
    padding-top: 50px;
    margin-right: -40px;
    width:120%;
    float:right;
    position: relative;
}

.nav-link{
    text-align: center;
    transition: all 0.1s;
    position: relative;
}

.nav-link#dd:hover {
    color: dodgerblue;
}

.nav-link:hover::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: dodgerblue;
        position: absolute;
        bottom: 0;
        left: 0;
}

#formEmployee {
    font-size: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
}
#chart {
    max-width: 650px;
    margin: 35px auto;
}

#chart2 {
    max-width: 1000px;
    margin: 35px auto;
}

#chart3 {
    max-width: 1000px;
    margin: 35px auto;
}

#notfound {
    position: relative;
    height: 100vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

    .notfound .notfound-404 {
        height: 190px;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 146px;
            font-weight: 700;
            margin: 0px;
            color: #232323;
        }

            .notfound .notfound-404 h1 > span {
                display: inline-block;
                width: 120px;
                height: 120px;
                background-image: url('../img/emoji.png');
                background-size: cover;
                -webkit-transform: scale(1.4);
                -ms-transform: scale(1.4);
                transform: scale(1.4);
                z-index: -1;
            }

    .notfound h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
        color: #232323;
    }

    .notfound p {
        font-family: 'Montserrat', sans-serif;
        color: #787878;
        font-weight: 300;
    }

    .notfound a {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        padding: 12px 30px;
        font-weight: 700;
        background-color: #f99827;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            opacity: 0.8;
        }

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 115px;
    }

        .notfound .notfound-404 h1 {
            font-size: 86px;
        }

            .notfound .notfound-404 h1 > span {
                width: 86px;
                height: 86px;
            }
}