@{
    Layout = "_UserLayout";
}

@section navbar{
    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="admin" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Data Employee </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>  Request Time Off </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> List Request </span>
        </a>
    </li>
}


@section scripts{

}