@{
    Layout = "_UserLayout";
}
@section navbar{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="admin" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Data Employee </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>  Request Time Off </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> List Request </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Authentication/logout">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
            <span> Logout </span>
        </a>
    </li>

}

@section scripts{
        <script>
            console.log("Test")
        </script>
}