@{
    Layout = "_UserLayout";
    ViewBag.Title = "Dashboard";
}

@section navbar{
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="DataEmployee">
            <i class="fas fa-solid fa-user-tie"></i>
            <span>Data Employee </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="RequestTimeOff">
            <i class="fas fa-solid fa-person-walking-arrow-right"></i>
            <span>Request Time Off </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-solid fa-person-circle-question"></i>
            <span>List Request </span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

}


@section scripts{
    <script>
        console.log("Dashboard")
    </script>
}